In [1]:
# Importing the required libraries.
import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine

In [2]:
# Loading the CSV file in a Python dataframe.
df = pd.read_csv('raw_dataset.csv')

In [3]:
# Checking the head of the dataframe to get an idea of the dataset structure.
df.head()

,Country Name,Country Code,Series Name,Series Code,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Canada,CAN,Individuals using the Internet (% of population),IT.NET.USER.ZS,71.66,72.4,73.2,76.7,80.3,80.3,83,83,85.8,87.12,90,91.16,92.70137191,..
1,Canada,CAN,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,13.11755213,13.26868096,13.43664535,13.63193757,13.86793132,14.1536509,14.45121753,14.80389886,15.20184648,15.62336628,16.05363481,16.4550098,16.84249156,17.23200668
2,Canada,CAN,Population growth (annual %),SP.POP.GROW,0.944466927,1.010334503,0.971135141,1.082907116,1.141758099,1.111864075,0.978697787,1.085817263,1.056591259,1.005337579,0.746339478,1.132348655,1.194280492,1.397947791
3,Canada,CAN,"Population, female",SP.POP.TOTL.FE.IN,16258927,16420787,16577534,16754826,16945066,17133868,17303497,17494958,17683847,17864828,17999309,18202997,18418770,18673975
4,Canada,CAN,"Population, male",SP.POP.TOTL.MA.IN,15984826,16150387,16311491,16492292,16683829,16871021,17035831,17219264,17399107,17572607,17703599,17906490,18124551,18383790

In [4]:
# Identifying that columns 5 onwards of the csv file reflect years and need to be unpivoted.
years = df.columns[4:]

In [5]:
# Reshaping the df in "long" format.
df_long = pd.melt(
    df,
    id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'], 
    value_vars=years, 
    var_name='Year', 
    value_name='Value'
)

In [6]:
# Checking the last part of the dataframe, to crosscheck format and total length.
df_long.tail()

,Country Name,Country Code,Series Name,Series Code,Year,Value
4699,United Kingdom,GBR,"GDP, PPP (current international $)",NY.GDP.MKTP.PP.CD,2018 [YR2018],3.12072E+12
4700,United States,USA,"GDP, PPP (current international $)",NY.GDP.MKTP.PP.CD,2018 [YR2018],2.0529E+13
4701,Indonesia,IDN,"GDP, PPP (current international $)",NY.GDP.MKTP.PP.CD,2018 [YR2018],3.11557E+12
4702,India,IND,"GDP, PPP (current international $)",NY.GDP.MKTP.PP.CD,2018 [YR2018],8.99506E+12
4703,Turkey,TUR,"GDP, PPP (current international $)",NY.GDP.MKTP.PP.CD,2018 [YR2018],2.31641E+12

In [7]:
# Dropping not needed columns.
df_long = df_long.drop(['Country Code','Series Code'],axis = 1)

# 'Clean' Year column, keeping first 4 digits of the column.
df_long['Year'] = df_long['Year'].str[:4]

In [8]:
df_long.head()

,Country Name,Series Name,Year,Value
0,Canada,Individuals using the Internet (% of population),2005,71.66
1,Canada,Population ages 65 and above (% of total popul...,2005,13.11755213
2,Canada,Population growth (annual %),2005,0.944466927
3,Canada,"Population, female",2005,16258927
4,Canada,"Population, male",2005,15984826

In [9]:
# Pivoting the "Series Name" column with the respective Values, in order to reach the wished dataframe format
df_new = df_long.groupby(['Country Name', 'Year', 'Series Name'])['Value'].sum().unstack('Series Name').reset_index()

In [10]:
df_new.head()

Series Name,Country Name,Year,Adjusted net national income per capita (annual % growth),Current health expenditure (% of GDP),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP per capita growth (annual %),"GDP per capita, PPP (current international $)","GDP, PPP (current international $)",Households and NPISHs Final consumption expenditure (annual % growth),...,Population ages 65 and above (% of total population),Population growth (annual %),"Population, female","Population, male","Population, total",Renewable energy consumption (% of total final energy consumption),Research and development expenditure (% of GDP),"Unemployment, total (% of total labor force) (national estimate)","Unemployment, youth total (% of total labor force ages 15-24) (national estimate)",Urban population (% of total population)
0,Brazil,2005,2.160197242,8.044081926,15.24382927,1.976,2.026307404,10988.95868,2.04534E+12,4.421877814,...,6.005480029,1.145880998,94125013,92002090,186127103,46.34794058,1.00246,9.567700386,19.54059982,82.834
1,Brazil,2006,3.616224206,8.25888291,14.3743163,1.925,2.834754095,11642.44395,2.19073E+12,5.284699382,...,6.165200089,1.090196854,95196583,92970773,188167356,46.90506004,0.98807,8.639499664,17.94199944,83.143
2,Brazil,2007,4.338447728,8.207753301,13.3276751,1.882,4.974704674,12549.92798,2.38612E+12,6.376270682,...,6.317286075,1.037862037,96229935,93900508,190130443,47.41762519,1.08138,8.327300072,16.95159912,83.448
3,Brazil,2008,3.214309853,8.01595822,13.53400051,1.847,4.054409568,13312.76342,2.55645E+12,6.464265151,...,6.470385136,0.994311624,97231896,94798466,192030362,47.26330741,1.12904,7.342599869,15.68620014,83.749
4,Brazil,2009,4.412338853,8.402491361,10.85137113,1.818,-1.081943896,13269.11857,2.5727E+12,4.456396484,...,6.635964066,0.961948263,98211958,95674550,193886508,49.11372304,1.11866,8.522100449,18.01339912,84.044

In [11]:
# Missing data are represented in the dataset with '..'. We will replace those with NaN.
df_new = df_new.replace('..', np.nan)

In [12]:
# Just in case, dropping duplicate values from the dataset.
df_new.drop_duplicates(keep=False,inplace=True)

In [13]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 0 to 195
Data columns (total 26 columns):
Country Name                                                                         196 non-null object
Year                                                                                 196 non-null object
Adjusted net national income per capita (annual % growth)                            196 non-null object
Current health expenditure (% of GDP)                                                182 non-null object
Exports of goods and services (% of GDP)                                             196 non-null object
Fertility rate, total (births per woman)                                             196 non-null object
GDP per capita growth (annual %)                                                     196 non-null object
GDP per capita, PPP (current international $)                                        196 non-null object
GDP, PPP (current international $)                                                   196 non-null object
Households and NPISHs Final consumption expenditure (annual % growth)                196 non-null object
Households and NPISHs final consumption expenditure (% of GDP)                       196 non-null object
Individuals using the Internet (% of population)                                     194 non-null object
Life expectancy at birth, female (years)                                             196 non-null object
Life expectancy at birth, male (years)                                               196 non-null object
Life expectancy at birth, total (years)                                              196 non-null object
Mobile cellular subscriptions (per 100 people)                                       196 non-null object
Population ages 65 and above (% of total population)                                 196 non-null object
Population growth (annual %)                                                         196 non-null object
Population, female                                                                   196 non-null object
Population, male                                                                     196 non-null object
Population, total                                                                    196 non-null object
Renewable energy consumption (% of total final energy consumption)                   154 non-null object
Research and development expenditure (% of GDP)                                      185 non-null object
Unemployment, total (% of total labor force) (national estimate)                     183 non-null object
Unemployment, youth total (% of total labor force ages 15-24) (national estimate)    171 non-null object
Urban population (% of total population)                                             196 non-null object
dtypes: object(26)
memory usage: 41.3+ KB

From the above, we observe missing records in some columns, mainly from 'renewable energy consumption' and 'youth unemployment' fields. As we will not focus in these areas, I will drop those records.

In [14]:
df_new = df_new.drop(['Unemployment, youth total (% of total labor force ages 15-24) (national estimate)','Renewable energy consumption (% of total final energy consumption)'],axis = 1)

In [15]:
df_new.rename(columns={"Households and NPISHs Final consumption expenditure (annual % growth)": "Household consumption", "Households and NPISHs final consumption expenditure (% of GDP)": "Household consumption % GDP","Unemployment, total (% of total labor force) (national estimate)":"Unemployment (% of total labor force)" }, inplace=True)

Now it is time to store the data to the **MySQL database**. *Firstly, we create a database directly from this workbook, with the help of Python. Then, we create a Table within the database with the respective field names, and lastly, we store the data using sqlalchemy.*

In [16]:
# Create a MySQL database with name World_Bank_DB for storing the data.
    
mydb = mysql.connector.connect(host="HOSTNAME",user="USERNAME", password="PASSWORD") 

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE World_Bank_DB")

In [17]:
#Now that we have created the database, we can create a Table.

mydb = mysql.connector.connect(
    host="HOSTNAME",
    user="USERNAME",
    password="PASSWORD",
    database="World_Bank_DB",
    charset = 'utf8')


mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS World_Data(\
     Country VARCHAR(20),\
     Year VARCHAR(4),\
     Adjusted_net_national_income_capita FLOAT,\
     Health_expenditure_GDP FLOAT,\
     Exports_GDP FLOAT,\
     Fertility_rate FLOAT,\
     GDP_capita_annual_growth FLOAT,\
     GDP_capita_PPP_USD FLOAT,\
     GDP_PPP_current_USD FLOAT,\
     Households_consumption_exp_growth FLOAT,\
     Households_consumption_GDP_percentage FLOAT,\
     Individuals_using_Internet INT,\
     Life_expectancy_female FLOAT,\
     Life_expectancy_male FLOAT,\
     Life_expectancy_total FLOAT,\
     Mobile_subscriptions_per_100 INT,\
     Population_pp_ages_65 FLOAT,\
     Population_annual_growth FLOAT,\
     Population_female INT,\
     Population_male INT,\
     Population_total INT,\
     RD_expenditure_GDP FLOAT,\
     Unemployment_total FLOAT,\
     Urban_population_percentage FLOAT(2))")

mydb.commit()
mycursor.close()
mydb.close()

In [18]:
#Create 'Engine' for SQL saving
engine = create_engine('mysql://USERNAME:PASSWORD@HOSTNAME/World_Bank_DB?charset=utf8')

In [ ]:
#writing data to the Database
df_new.to_sql('world_data', con=engine, if_exists='replace', index=False)